@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Itim&display=swap');

html,body {
  font-family: 'Fjalla One', sans-serif;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  background-image: url('../public/assets/background-desert.svg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

